* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
/*    border: 1px solid red;*/
}

html,body {
    font-family: "Roboto Condensed light", sans-serif;
    font-size:medium;
}

.carousel-wrapper {
    width:100%;
    height: 80%;
}

.img-wrapper {
    height: 30%;
    width: 100%;
}

.project,
.skill,
.contact {
    width: 100%;
    height: 20%;
}

.card-back {
    width: 100%;
}

.pic {
    margin-top: 25%;
    border: 5px solid white;
}

/* Image in a circle */
.profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    border-radius: 50%;
}

.nature {
    width: 100%;
}

/* flip test */

#f1_container {
    z-index: 1;
    perspective: 1000px;
}
#f1_card {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

#click_container:click #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face {
  position: absolute;
  backface-visibility: hidden;
}

.face.back {
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
  background-color: white;
}

