* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
/*    border: 1px solid red;*/
}

html,body {
    font-family: "Roboto Condensed light", sans-serif;
    font-size:small;
}

h4 {
    padding-left: 5px;
}


.img-wrapper,.wrap {
    height: 30%;
    width: 100%;
}


.card-back {
    width: 100%;
}

.pic {
    margin-top: 25%;
    border: 5px solid white;
}

/* Image in a circle */
.profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    border-radius: 50%;
}


/* flip test */

#f1_container {
    z-index: 1;
    perspective: 1000px;
}
#f1_card {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

#click_container:click #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}

.face {
  position: absolute;
  backface-visibility: hidden;
}

.face.back {
  transform: rotateY(180deg);
  text-align: center;
  background-color: white;
}

/* Card flip by me */
/*.flip-container {
    perspective: 700px;
}

#card {
    width: 380px;
    height: 400px;
}
.card-flip {
    transition: all 0.6s linear;
    transform-style: preserve-3d;
}

.card-flip:hover {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
    height: 400px;
}

.front,
.back {
    backface-visibility: hidden;
    text-align: center;
    border: 1px solid yellow;
}*/